*********************************************************************************************************************************
*                                                                                                                               *
* DRILL TAPE SUMMARY REPORT                                                                                                     *
*                                                                                                                               *
* \\CTNCLU03.CTN.ST.COM\MLDCLAB\USERS\DANIELE SFILIO\MY DOCUMENTS\DESIGN\VSS\MC\3PH\0038.11\HARDWARE\STM32 EVAL BOARD_REV2.MAX  *
* Mon Oct 24 15:34:18 2011                                                                                                      *
*                                                                                                                               *
*********************************************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      502      200      100                                                                                 
T2       315      17       200      100                                                                                 
T3       354      1        200      100                                                                                 
T4       394      332      200      100                                                                                 
T5       472      6        200      100                                                                                 
T6       590      2        200      100                                                                                 
T7       787      2        200      100                                                                                 
T8       905      2        200      100                                                                                 
T9       1181     13       200      100                                                                                 
